body {
  background: gray;
}

a {
  text-decoration: none !important;
}
.home-brand {
  z-index: -999;
  background: linear-gradient(
      to bottom,
      rgba(40, 67, 83, 0.575) 0%,
      rgba(34, 59, 129, 0.562) 100%
    ),
    url('./2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

.badge {
  font-size: 100% !important;
}

/* Stores blocks inside stores-list */

.stores-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.25rem;
}

@media screen and (max-width: 768px) {
  .stores-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .stores-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.fade-in {
  animation: fade-in 0.4s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 576px) {
}

input[type='radio'] {
  display: none;
}

.row {
  margin: 0.5rem 0 !important;
  justify-content: space-between !important;
}

.products-list {
  margin: 0.2rem;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

input#deliveryDate {
  /* only to get rid of some warning in the console*/
  -webkit-appearance: unset !important;
}
